# Virtual Environment
.venv/
.vscode/

# AI Models
models/

# Media Files
*.mkv
*.mp4
*.avi
*.wav
!src/generic_female.wav
!src/generic_male.wav
*.mp3
*.flac

# Subtitle Files
*.srt
*.ass
*.vtt

# Logs
*.log
dubbing_process.log
.req_hash

# Generated Folders & Artifacts
temp/
output/
ui_config.json

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.uv_cache/

# OS Generated
.DS_Store
Thumbs.db
